body{
    font-family: "Poppins";
}

#facebook-btn-div, #google-btn-div{
    width: 70%;
    height: 70px;
    text-transform: uppercase;
    margin: 20px auto;
    cursor: pointer;
    max-width: 500px;
}

/* Homepage jumbotron */
.jumbotron {
    padding: 2rem 1rem;
    background-color: #304152;
    border-radius: .3rem;
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    overflow: auto;
}

.container{
    width: 90vw;
    max-width: 800px;
    height: auto;
    position: relative;
    z-index: 1;
    margin: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000004A;
    opacity: 1;
    border-radius: 18px;
    animation: animateZoom 1s;
    font-weight: 500;
}